{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{{ titulo_pagina }}{% endblock title %}
{% block body %}
    <h1>{{titulo_conteudo}}</h1>
    <p>{{conteudo}}</p>
    <i>Visitantes {{ visits }}</i>
    <img src="{% static 'imagens/poster_rango.jpg' %}" alt="Poster Rango">

{% endblock body %}