{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{{ titulos_h1.0 }} - {{ titulos_h2.0 }}{% endblock title %}
{% block body %}
    <article class="ui grid stackable">
        <div class="twelve wide centered column">
            <div class="ui segment">
                <form class="ui form" method="post" action="/rango/add_categoria/" enctype="multipart/form-data">
                    <h4 class="ui dividing header">{{ titulos_h2.0 }}</h4>

                    {% csrf_token %}
                    {% for campos_ocultos in formulario.hidden_fields %}
                        {{ campos_ocultos }}
                    {% endfor %}

                    {% for campos in formulario.visible_fields %}
{#                        {{ campos.errors }}#}
{#                        {{ campos.help_text }}#}
                        <div class="ui field">
                        {{ campos.nome }}
                            {{ campos }}
                        </div>
                    {% endfor %}
                    <button class="ui button" tabindex="0" type="submit">Criar Categoria</button>
                </form>
            </div>
        </div>
    </article>
{% endblock body %}