<!DOCTYPE html>

{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/stile.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap-theme.css.map' %}" />
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "index" %}">Rango</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="/admin/">Administração</a></li>
                    <li><a href="{% url 'restricted' %}">Página Restrita</a></li>
                {% else %}
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'about' %}">Sobre Rango</a></li>
                    <li><a href="{% url 'registro' %}">Registre-se Aqui!</a></li>
                    <li><a href="https://bitbucket.org/giorgyismael/web-ii/src"> Acesso ao Repositório Git do Site</a></li>
                    <li><a>Visitas: {{ visits }}</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<section class="container-fluid">
    <aside class="row col-sm-3 col-md-2 sidebar">
        {% block aside %}{% endblock %}
    </aside>
    <article class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% block body %}{% endblock body %}
    </article>
</section>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>