<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/semantic/semantic.css'%}" />
    <link rel="stylesheet" href="{% static 'css/base.css'%}" />
    <link rel="stylesheet" href="{% static 'css/semantic/components/dropdown.css'%}" />

    <script src="{% static 'js/semantic/semantic.js'%}"></script>
    <script src="{% static 'js/script.js'%}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/semantic/dropdown.js'%}"></script>

    <title>{% block title %}{% endblock title %}</title>
</head>
<body onload="Menu();">
<nav id="header" class="ui inverted segment">
    <nav class="ui inverted secondary pointing menu">
        {% if user.is_authenticated %}
            <a href="{% url "index" %}" id="home" class="item">
                <i class="home icon"></i>
                Rango
            </a>
            <div class="right menu">


                <div class="item">
                    <div class="ui simple dropdown">
                        <i class="user icon"></i>
                        Olá {{  user.username }} <i class="dropdown icon"></i>
                        <div id='menu_user' class="menu">
                            <div id="admin" class="item "><i class="setting out icon"></i><a href="/admin/">Administração</a></div>
                            <div id="logout" class="item "><i class="sign out icon"></i><a href="{% url 'logout' %}">Logout</a></div>
                        </div>
                    </div>
                </div>
                <a href="{% url "restricted" %}" id="restricted" class="item">
                    <i class="hide icon"></i>
                    Área Restrita
                </a>
            </div>
            <a class="item">
                <i class="marker icon"></i>
                Visitas: {{ visits }}
            </a>
        {% else %}
            <a href="{% url "index" %}" id="home" class="item">
                <i class="home icon"></i>
                Rango
            </a>


            <div class="right menu">
                <a href="{% url 'login' %}" id="login" class="item">
                    <i class="sign in icon"></i>
                    Entrar
                </a>
                <a href="{% url 'registro' %}" id="registro" class="item">
                    <i class="linux icon"></i>
                    Registre-se
                </a>

                <a href="https://bitbucket.org/giorgyismael/web-ii/overview" id="git" class="item">
                    <i class="bitbucket icon"></i>
                    Git
                </a>



                <a href="{% url 'about' %}" id="about" class="item">
                    <i class="bullseye icon"></i>
                    Sobre
                </a>


            </div>
            <a class="item">
                <i class="marker icon"></i>
                Visitas: {{ visits }}
            </a>
        {% endif %}

        <input id="controle_menu" value="{{ controle_menu }}" type="hidden">
        <input id="error_js" type="hidden">
    </nav>
</nav>
{#        <div class="ui divider"></div>#}
<article id="conteudo" class="ui grid stackable">
    <div class="ui sixteen row">

        <aside class="ui three wide column ">
            <div class="ui centered grid">
                <div class="sixteen wide column ">
                    <div class="ui vertical menu">

                        {% for categoria in categorias %}

                        <a class="item" id="{{ categoria.nome }}" href="{% url 'categoria' categoria.slug %}">
                            <div class="ui black label">{{ categoria.views }}</div>
                            {{ categoria.nome }}
                        </a>


                        {% empty %}
                        </strong>
                        <a class="item">
                            <div class="ui label">0</div>
                            Sem Categorias
                        </a>
                        {% endfor %}


                        <div class="item">
                            <div class="ui icon input">
                                <input type="text" placeholder="Pesquisa Site...">
                                <i class="search icon"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </aside>

        <article class="ui thirteen wide column">
            {% block body %}{% endblock %}
        </article>


    </div>
</article>

<footer id="footer" class="ui tertiary center aligned segment">
    <address class=" center ">Instituto Federal de Educação, Ciência e Tecnologia Catarinense - Câmpus Araquari<br>
        Rodovia BR 280 - km 27 - Cx. Postal 21 - CEP 89245-000 - Araquari - SC - Fone (47) 3803-7200 - Fax (47) 3803-7201
    </address>
</footer>



</body>

</html>