{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{{ categoria.nome }}{% endblock title %}
{% block body %}
    <article>
        <div class="ui grid centered stackable">
            <div class=" twelve wide column">
                <div class="ui red segment">

                    <h1>{{ categoria.nome }}</h1>
                    {% if categoria %}
                        {% if paginas %}
                            <ul>
                                {% for pagina in paginas %}
                                    <li><a href="{{ pagina.url }}">{{ pagina.titulo }}</a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <strong>Não existem Páginas</strong>
                        {% endif %}
                    {% else %}
                        Não existem páginas para essa categoria!
                    {% endif %}

                    {% if user.is_authenticated %}
                        <a href="{% url 'add2_pagina' categoria.slug %}">Adicionar Página</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </article>
{% endblock body %}