{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{{ titulo_pagina }}{% endblock title %}
{% block body %}
    <div class="ui grid centered stackable">
        <div class=" six wide column">
            <article class="ui red segment">
                <h2 class="ui header">{{ titulos_h2.0 }}</h2>

                <ol>
                    {% for categoria in categorias %}
                        <li> <a href="{% url 'categoria' categoria.slug %}"> {{ categoria.nome }} ({{ categoria.views }}) </a></li>
                    {% empty %}
                        <br /><strong>Não Existem Categorias Cadastradas</strong>
                    {% endfor %}

                </ol>

                {% if user.is_authenticated %}
                    <a href="{% url 'add_categoria' %}"> Adicone Categoria</a>
                {% endif %}

            </article>
        </div>
        <div class="six wide column ">
            <article class="ui red segment">
                <h2 class="ui header">{{ titulos_h2.1 }}</h2>

                <ol>
                    {% for pagina in paginas %}
                        <li> <a href="{{pagina.url}}"> {{ pagina.titulo }} ({{ pagina.views }}) </a></li>
                    {% empty %}
                        <br /><strong>Não Existem Categorias Cadastradas</strong>
                    {% endfor %}
                </ol>

                {% if user.is_authenticated %}
                    <a href="{% url 'add_pagina' %}"> Adicone Páginas</a><br /><br />
                {% endif %}
            </article>
        </div>
    </div>
{% endblock body %}