{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{{ titulo_pagina }}{% endblock title %}
{% block body %}
    <label>Login Inválido!</label><br />
    <a href="{% url 'login' %}">Retornar</a>
{% endblock body %}
<br />