{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}Rango{% endblock title %}
{% block body %}
    <div class="ui grid stackable">
        <div class="twelve wide centered column">
            <div class="ui segment">
                <form class="ui form" method="post" action="/rango/login/">
                    {% csrf_token %}

                    <h4 class="ui dividing header">
                            <i class="users icon"></i>
                            Login
                    </h4>

                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>
                            <input type="text" name="username" placeholder="Usuario">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>
                    <input type="submit" class="ui fluid submit button">

                    <div class="ui error message"></div>

                </form>
            </div>

            <div class="ui message">
                Primeiro Acesso?<a href="{% url 'registro' %}"> Cadastre-se</a>
            </div>
        </div>
    </div>
{% endblock body %}