{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{{ titulo_pagina }}{% endblock title %}
{% block body %}

{% if registro %}
    <h1>{{ titulos_h1.1 }}</h1>
    <h1>Obrigado por se registrar!</h1>
    <label><a href="{% url 'index' %}">Retorne ao Inicio</a></label>
    <br />

{% else %}
    <div class="ui grid stackable">
        <div class="twelve wide centered column">
            <div class="ui segment">
                <form class="ui form" method="post" action="/rango/registro/" enctype="multipart/form-data">
                    <h4 class="ui dividing header">{{ titulos_h2.0 }}</h4>
                    {% csrf_token %}
                    <div class="ui field">{{ form_usuario.as_p }}</div>
                    <div class="ui field">{{ form_usuario_complento.as_p }}</div>
                    <button class="ui button" tabindex="0" type="submit">Cadastrar-se</button>
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock body %}