{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title %}{{ titulo_pagina }}{% endblock title %}
{% block body %}
    <label>Você está logado com Usuario <strong>{{ user.username }}</strong>, Seja feliz!!</label><br />
{% endblock body %}