{% extends 'rango/base.html' %}

{% block title %}{{ titulo_pagina }}{% endblock title %}
{% block body %}
    <div class="ui grid">
        <div class="eight wide column  red">Section 1<br /><br /><br /></div>
        <div class="eight wide column  orange">Section 2</div>
    </div>
{% endblock body %}